.wide {
  width:100%;
  height:250px;
  background-image:url('https://goo.gl/PZOMbg');
  background-size: cover;
}

h1 {
  margin: 20px;
  padding-top: 20px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
}

.api-cl {
  text-align: center;
  border: 1px solid #000;
  font-size: 2em;
  padding-top: 20px;
}

#info {
  margin-top: 30px;
  height: 300px;
  background-color: #c2e7ff;
}

.my-btn  {
  width: 40%;
  margin: 0 auto;
}

img {
  margin: 10px;
}

.select {
  display: inline;
}

.question {
  margin-top: 20px;
  text-align: center;
}

.desc {
  color: #ED3B65;
  text-align: center;
  font-style: italic;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;

}
